@font-face {
  font-family: "playfair";
  src: url("../fonts/my/f1.woff2");
}
@font-face {
  font-family: "playfair italic";
  src: url("../fonts/my/f2.woff2");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/my/f3.woff2");
}
body {
  font-family: regular;
}
body h1 {
  font-family: playfair;
}
body i {
  font-family: "playfair italic";
}

header {
  height: 100vh;
  position: relative;
}
header .layer-bg {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}
header .layer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
}
header small {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}
header h1 {
  text-align: center;
  filter: brightness(100%);
  margin: 1rem 0 3rem;
  font-size: 2.2rem;
  text-shadow: 0 0 5px black;
}
header button.btn-dark {
  text-transform: uppercase;
  background-color: #23272b;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  color: white;
}
header button.btn-dark:hover {
  background: #343a40;
}
header .arrow-down {
  display: block;
  font-size: 5rem;
  position: absolute;
  bottom: 2%;
  transition: 0.2s;
  border-radius: 100%;
  border: 1px solid transparent;
  cursor: pointer;
}
header .arrow-down:hover {
  color: dodgerblue;
}

nav {
  position: fixed;
  width: 100%;
  padding: 0.2rem 2rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 101;
  transition: background 0.4s;
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  nav {
    padding: 0rem 2rem;
  }
}
@media screen and (min-width: 992px) {
  nav {
    padding: 2rem 2rem;
  }
}
nav.scrolled {
  background: black;
}
nav .nav-logo img {
  height: 2rem;
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  nav .nav-logo img {
    height: 1.8rem;
  }
}
nav .nav-icon-open, nav .nav-icon-close {
  color: white;
  font-size: 3rem;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  nav .nav-icon-open, nav .nav-icon-close {
    display: none;
  }
}
nav .nav-icon-close {
  z-index: 101;
  position: absolute;
  top: 4%;
}
nav .nav-mobile-layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  nav .nav-mobile-layer {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
  }
}
@media screen and (min-width: 992px) {
  nav .nav-mobile-layer .links {
    display: flex;
  }
}
nav .nav-mobile-layer .links a {
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  transition: 0.2s;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  nav .nav-mobile-layer .links a {
    margin: 0 1rem;
  }
}
nav .nav-mobile-layer .links a:hover {
  color: white;
  text-decoration: none;
}
nav .nav-mobile-layer .soc-links {
  color: #bfbfbf;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  nav .nav-mobile-layer .soc-links {
    display: none;
  }
}
nav .nav-mobile-layer .soc-links i {
  margin: 3rem 1.5rem 0rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem 2rem;
}
section h1 {
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 2rem;
}
section p {
  max-width: 700px;
  margin-bottom: 1.5rem;
}

section#stat {
  background: url("../img/bg-pattern.jpg");
  color: white;
}
section#stat .col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 2.4rem;
}
section#stat .col:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  section#stat .col:last-child {
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  section#stat .col {
    margin-bottom: 0;
  }
  section#stat .col:last-child {
    margin-bottom: 0;
  }
}
section#stat .col i {
  font-size: 3.3rem;
  margin: 1rem 1rem 1rem 0;
}
section#stat .col p {
  margin: 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: bolder;
  line-height: 1.5rem;
}

section#portfolio > p {
  margin-bottom: 4rem;
}
section#portfolio .col {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  section#portfolio .col {
    margin: 1rem 0;
  }
}
section#portfolio .col:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
section#portfolio .col img {
  position: absolute;
  height: 100%;
}
section#portfolio .col .layer {
  background: black;
}
section#portfolio .col .layer-container {
  color: white;
  flex-direction: column;
}
section#portfolio .col .layer-container p {
  margin-bottom: 0;
  color: white;
}
section#portfolio .col .layer-container p.name {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-family: "playfair";
  margin-bottom: 0.2rem;
  font-weight: bolder;
}
section#portfolio .col .layer-container p.type {
  font-size: 0.9rem;
  text-transform: uppercase;
}
section#portfolio .col .layer, section#portfolio .col .layer-container {
  opacity: 0;
  transition: 0.6s;
}
section#portfolio .col:hover .layer {
  opacity: 0.8;
}
section#portfolio .col:hover .layer-container {
  opacity: 1;
  background: transparent;
}

section#testimonials {
  background: url("../img/bg-pattern.jpg");
  color: white;
  padding-bottom: 1rem;
}
section#testimonials .swiper-container {
  padding: 2rem 0 4rem;
  width: 100%;
}
section#testimonials .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  section#testimonials .swiper-slide {
    padding: 0;
  }
}
section#testimonials .swiper-slide p.quote {
  font-size: 1.7rem;
  font-family: "playfair italic";
  margin-bottom: 3.5rem;
}
section#testimonials .swiper-slide p.cite {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
section#testimonials .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
}
section#testimonials .swiper-pagination-bullet {
  background: gainsboro;
  height: 10px;
  width: 10px;
  transition: 0.4s;
}
section#testimonials .swiper-pagination-bullet-active {
  background: white;
  height: 13px;
  width: 13px;
}

section#partners {
  padding: 0;
}
@media screen and (min-width: 768px) {
  section#partners {
    padding: 0 2rem;
  }
}
section#partners .swiper-wrapper {
  display: flex;
  align-items: center;
}
section#partners .swiper-container {
  padding: 2rem 0;
  width: 100%;
}
section#partners .swiper-slide img {
  height: 8rem;
}

section#blog .swiper-container {
  padding: 2rem 0 6rem;
  width: 100%;
  height: 500px;
  margin-top: 2rem;
}
section#blog .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#blog .card {
  width: 340px;
  text-align: left;
}
section#blog .card .img-area {
  position: relative;
  height: 220px;
  overflow: hidden;
  background-size: cover;
}
section#blog .card .img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
section#blog .card .img-area p.category {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  margin: 0;
  text-transform: uppercase;
  display: block;
  padding: 0.3rem 0.9rem;
  background: black;
  color: white;
  width: min-content;
  font-size: 0.8rem;
  font-weight: bolder;
  word-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  section#blog .card .img-area p.category {
    width: auto;
  }
}
section#blog .card .card-title {
  font-family: "playfair";
  color: black;
  font-weight: bolder;
}
section#blog .card p.date {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  margin: 1rem 0 1rem;
}

section#testimonials, section#blog {
  padding: 0;
}
@media screen and (min-width: 768px) {
  section#testimonials, section#blog {
    padding: 2rem;
  }
}

section#contact-form .info {
  text-align: left;
}
section#contact-form .form {
  display: flex;
  align-items: center;
}
section#contact-form .form .col-6, section#contact-form .form .col-12 {
  margin: 15px 0;
}
section#contact-form .form input[type=text], section#contact-form .form textarea {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
}
section#contact-form .form textarea {
  height: 150px;
}
section#contact-form .form .btn {
  max-width: max-content;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 2rem 0.5rem;
}

footer {
  background: #ebebeb;
  padding: 3rem 0 1.5rem;
}
footer .soc-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .soc-links a {
  margin: 0 3rem;
  font-size: 1.5rem;
  transition: 0.2s;
}
footer .copyright {
  margin-top: 1rem;
  padding: 1rem 2rem;
}

/*# sourceMappingURL=style.css.map */
